<div class="row  row_home gradiente">
<div class="col">
 <h1>Optimización, seguridad,   adaptabilidad y trabajo remoto <strong style="color: orange;" >FastNomina.</strong></h1>
 <h4 class="d-none d-sm-none d-md-block">Sigue nuestro camino</h4>
<div class="contenedor d-block d-sm-block d-md-none">
  		<ul class="ulanim">
		    <li>Aportes parafiscales</li>
		    <li>Cargas Prestacionales</li>
		    <li>Seguridad social</li>
		    <li>Contrato de trabajo</li>
		    <li>Salario</li>
		    <li>Deducciones</li>
		    <li>Apropiaciones</li>
		    <li>Jornada de trabajo</li>
		    <li>Aportes parafiscales</li>
		    <li>¡Y mucho más!</li>
  	  </ul>
</div>
 <! -- GRANDE -->
	<div class="contenedor2 d-none d-sm-none d-md-block">

	  <ul class="ul2 d-none d-sm-none d-md-block">
		    <li>Aportes parafiscales</li>
		    <li>Carga Prestacionales</li>
		    <li>Seguridad social</li>
		    <li>Contrato de trabajo</li>
		    <li>Salario</li>
		    <li>Deducciones</li>
		    <li>Apropiaciones</li>
		    <li>Jornada de trabajo</li>
		    <li>Aportes parafiscales</li>
		    <li>¡Y mucho más!</li>
	  </ul>
	</div>
	<div class="row margin_adap" >
		<div class="col d-none d-sm-none d-md-block"><button class="btn btn-block btn-lg btn-light"><i class="fas fa-sign-out-alt"></i> INGRESAR</button></div>
		<div class="col d-none d-sm-none d-md-block"><button class="btn-block btn-lg btn-light">CONOCER MÁS <i class="fas fa-globe-americas"></i></button></div>

	</div>
</div>
<div class="col">
    <img src="/assets/home.png" class="img-fluid" alt="...">

</div>

</div>

<div class="container_parallax" >
<div class="contenedor_parallax">
		<div class="row row_home2">
        <h1 class="display-1 p-d2">INTRO WITH ICONS</h1>
        <h4 class="p-d2">Full screen intro with background image, color overlay and icons</h4>

        <div class="col">
            <i class="fas fa-6x fa-cubes"></i>
            <h5 class="h5-d2">Multi Layout</h5>
        </div>
        <div class="col">
            <i class="far fa-6x fa-star"></i>
            <h5 class="h5-d2">Creative Idea</h5>
        </div>
        <div class="col">
            <i class="far fa-6x fa-money-bill-alt"></i>
            <h5 class="h5-d2">Target Buyers</h5>
        </div>
        <div class="col">
            <i class="fas fa-6x fa-sort-amount-up"></i>
            <h5 class="h5-d2">Reach Top</h5>
        </div>
          <div style="width="100%" ">
            <button class="btn btn-lg  btn-danger btn-danger-intro">MORE</button>
        </div>
        </div>
	</div>
</div>


<section class="section-home1">
	<h2 class=" " >¿POR QUÉ FASTNOMINA?</h2>
<div class="hr-sect"><i class="fas fa-lg fa-globe-americas"></i></div>

<div class="row row_home2">
  <div class="col-sm-3 margin-no10">
  	<div class=" div-sect2 shadow">
		<img class="img-home2" src="https://image.freepik.com/foto-gratis/hombre-negocios-financiero-inspector-secretaria-haciendo-informe-calculo-o-comprobacion-balance-inspector-servicio-rentas-internas-revisando-documento-concepto-auditoria_1423-126.jpg" class="rounded-circle" alt="Cinque Terre" >
		<h3>Titulo</h3>
	<h5 style=" padding: 20px; text-align: justify;">
	 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>
  	</div>
  </div>
  <div class="col-sm-3 margin-no10">
  	<div class=" div-sect2 shadow">
  	<img class="img-home2" src="https://image.freepik.com/vector-gratis/eleccion-concepto-trabajador_23-2148642742.jpg" class="rounded-circle" alt="Cinque Terre" >
		<h3>Titulo 2</h3>

	<h5 style=" padding: 20px; text-align: justify;">
  	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
  </div>
  </div>
  <div class="col-sm-3 margin-no10">
  	<div class=" div-sect2 shadow">
  	<img class="img-home2" src="https://image.freepik.com/vector-gratis/equipo-construccion-trabajando-sitio_74855-4775.jpg" class="rounded-circle" alt="Cinque Terre" >
		<h3>Titulo 3</h3>
	<h5 style=" padding: 20px; text-align: justify;">

  	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>

  </div>
	</div>
  <div class="col-sm-3 margin-no10">
  	<div class=" div-sect2 shadow">
  <img class="img-home2" src="https://image.freepik.com/foto-gratis/contador-calculando-ganancias-graficas-analisis-financiero_74855-4937.jpg" class="rounded-circle" alt="Cinque Terre" >
		<h3>Titulo 4</h3>

	<h5 style=" padding: 20px; text-align: justify;">
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum officia deserunt mollit anim id est laborum.</h5></div>
</div>
</div>
</section>
<section class="section_count1">
<div class="container">
<div class="row">
    <div class="col col-sm-6 d-none d-sm-none d-md-block">
      <h2 class="display-2" >Counters and media</h2>
<h4 class="p_colorsec">Responsive block with counters and media.</h4>

                    <img class="img-fluid" src="/assets/background1.jpg">
    </div>
    <div class="d-block d-sm-block d-md-none" style="margin-bottom: 20px;">
 <h2 class="display-2" >Counters and media</h2>
<h4 class="p_colorsec">Responsive block with counters and media.</h4>
                    <img class="img-fluid" src="/assets/background1.jpg">

</div>
    <div class="col min_with_c" style="margin-left:10px;" >
    <div class="row">
  <div class="col-xs-6 col-md-5 ">
    <div class="card-img ">
            <i class="fas fa-6x fa-cubes coloriconc"></i><h3>100</h3>
      </div>
      <h4>Growth</h4>
       <p class="p_colorsec">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
  <div class="col-xs-6 col-md-5 ">
    <div class="card-img ">
            <i class="fas fa-6x fa-cube coloriconc"></i><h3>100</h3>
      </div>
      <h4>Trendy websites blocks</h4>
       <p class="p_colorsec">Sun in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="col-xs-6 col-md-5 ">
    <div class="card-img ">
            <i class="fas fa-6x coloriconc fa-desktop"></i><h3>100</h3>
      </div>
      <h4>Unlimited websites</h4>
       <p class="p_colorsec">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
  </div>
  <div class="col-xs-6 col-md-5 ">
    <div class="card-img ">
            <i class="fas fa-globe fa-6x coloriconc"></i><h3>100</h3>
      </div>
      <h4>Web fonts</h4>
       <p class="p_colorsec">Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
  </div>

</div>
    </div>
  </div>
  </div>

</section>


<section  class="section_count1">
  <h2 class="display-2" >Counters </h2>
<h4 class="p_colorsec">It's a beautiful site, we're going to help you.</h4>
<div class="container">
  <div class="row">
    <div class="col">
      <i class="fas fa-7x coloriconc fa-globe-americas"></i>
      <h2 class="display-2" >∞</h2>
      <h4 class="p_colorsec2">unlimited connections</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col">
      <i class="fas fa-7x coloriconc fa-sitemap"></i>
        <h2 class="display-2" >100%</h2>
      <h4 class="p_colorsec2">The best infrastructure</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.</p>
    </div>
    <div class="col">
      <i class="fas fa-7x coloriconc fa-door-open"></i>
        <h2 class="display-2" >300</h2>
      <h4 class="p_colorsec2">Options</h4>
      <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>

    </div>

  </div>

</div>
</section>

<div class="row degrado_sec" >
  <div class="col" style="text-align: center;"> <button class="btn btn-primary"><i class="far fa-eye"></i> SEE MORE</button> </div>
  <div class="col">
        <h1 class="title_company">COMPANY NAME</h1>
        <p class="p_company">Info block. All Rights Reserved</p>

  </div>
</div>

<div class="text-center bg-light">
      <h2 class="display-2" >SHARE THIS PAGE!</h2>
      <button class="btn btn-primary rounded-circle"><i class="fab fa-facebook-f"></i></button>
      <button type="button" class="btn btn-info rounded-circle"><i class="fab fa-twitter"></i></button>
      <button type="button" class="btn btn-danger rounded-circle"><i class="fab fa-pinterest-p"></i></button>
      <button class="btn btn-warning rounded-circle text-white"><i class="fas fa-envelope"></i></button>
      <button class="btn btn-primary rounded-circle"><i class="fab fa-instagram"></i></button>
</div>

<section class="section_count1 ">
      <h2 class="display-2" >Our Clients</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim.</p>

<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/1.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/5.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/4.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/2.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/3.png" class="image-fluid"></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/1.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/4.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class="py-4 text-white text-center"><img src="/assets/3.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class="py-4 text-white text-center"><img src="/assets/2.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/1.png" class="image-fluid"></div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/2.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/4.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/3.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class=" py-4 text-white text-center"><img src="/assets/1.png" class="image-fluid"></div>
        </div>
        <div class="col">
          <div class="py-4 text-white text-center"><img src="/assets/2.png" class="image-fluid"></div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</section>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container">
  <div class="row">
    <div class="col-sm-3"><img src="/assets/logo2.png"></div>
    <div class="col-sm-3"><h4>Address</h4>
<p>1234 Street Name</p>
<p>City, AA 99999
</p>
</div>
     <div class="col-sm-3"><h4>Contacts</h4>
<p>Email: support@mfastnomina.com</p>
<p>Phone: +1 (0) 000 0000 001</p>
<p>Fax: +1 (0) 000 0000 002</p>
</div>
    <div class="col-sm-3">
      <h4>Links</h4>
<p>Website company</p>
<p>Link to other site</p>
<p>Link link link</p>

    </div>

  </div>
</div>
    <div class="container text-center">
      <small>&copy;  Copyright 2020 FastNomina - All Rights Reserved</small>
    </div>
  </footer>
